---
http_interactions:
- request:
    method: post
    uri: https://sandbox.apps.whcc.com/api/AccessToken
    body:
      encoding: UTF-8
      string: consumer_key=FA2DBC52662850A7B53B&consumer_secret=rPTa7aIydCI%3D&grant_type=consumer_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ClientId":"2791999","ConsumerKey":"FA2DBC52662850A7B53B","EffectiveDate":"10\/24\/2014
        3:46:02 PM CST","ExpirationDate":"10\/24\/2014 4:46:02 PM CST","Token":"101024773634"}'
  recorded_at: Fri, 24 Oct 2014 20:46:02 GMT
- request:
    method: get
    uri: https://sandbox.apps.whcc.com/api/Catalog?access_token=101024773634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="101024773634"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Categories":[{"EffectiveDate":"2\/1\/2012","ExpirationDate":"12\/31\/2099","Id":229,"Name":"Photo
        Prints","OrderAttributeCategoryList":[{"Attributes":[{"AttributeCategoryUID":134,"AttributeName":"Burn
        order to CD","EffectiveDate":"2\/1\/2012","ExpirationDate":"12\/31\/2099","Id":549,"ParentAttributeUID":547,"SortOrder":2,"attributenodes":null},{"AttributeCategoryUID":134,"AttributeName":"Color
        Correction per file","EffectiveDate":"2\/1\/2012","ExpirationDate":"12\/31\/2099","Id":550,"ParentAttributeUID":0,"SortOrder":3,"attributenodes":null}],"CategoryName":"Photo
        Order Options","EffectiveDate":"2\/1\/2012","ExpirationDate":"12\/31\/2099","Id":134,"MultipleValueAllowedFlag":true,"RequiredLevel":-1},{"Attributes":[{"AttributeCategoryUID":136,"AttributeName":"Premium
        Packaging to Studio","EffectiveDate":"2\/1\/2012","ExpirationDate":"12\/31\/2099","Id":551,"ParentAttributeUID":547,"SortOrder":1,"attributenodes":null},{"AttributeCategoryUID":136,"AttributeName":"Premium
        Packaging to Client","EffectiveDate":"2\/1\/2012","ExpirationDate":"12\/31\/2099","Id":552,"ParentAttributeUID":548,"SortOrder":2,"attributenodes":null},{"AttributeCategoryUID":136,"AttributeName":"Custom
 [...]
