---
http_interactions:
- request:
    method: get
    uri: https://sandbox.apps.whcc.com/api/Catalog?access_token=101024773634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="101024773634"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ErrorNumber":"403.01","Message":"You are not authorized to access
        the resource you requested: Expired or incorrect access token."}'
  recorded_at: Mon, 27 Oct 2014 20:41:38 GMT
- request:
    method: get
    uri: https://sandbox.apps.whcc.com/api/AccessToken?consumer_key=FA2DBC52662850A7B53B&consumer_secret=rPTa7aIydCI=&grant_type=consumer_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ClientId":"2791999","ConsumerKey":"FA2DBC52662850A7B53B","EffectiveDate":"10\/27\/2014
        3:41:39 PM CST","ExpirationDate":"10\/27\/2014 4:41:39 PM CST","Token":"786691958342"}'
  recorded_at: Mon, 27 Oct 2014 20:41:40 GMT
- request:
    method: get
    uri: https://sandbox.apps.whcc.com/api/Catalog?access_token=786691958342
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="786691958342"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 27 Oct 2014 20:41:46 GMT
recorded_with: VCR 2.9.2
