---
http_interactions:
- request:
    method: post
    uri: https://sandbox.apps.whcc.com/api/AccessToken
    body:
      encoding: UTF-8
      string: consumer_key=FA2DBC52662850A7B53B&consumer_secret=rPTa7aIydCI%3D&grant_type=consumer_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ClientId":"2791999","ConsumerKey":"FA2DBC52662850A7B53B","EffectiveDate":"10\/10\/2014
        1:42:32 PM CST","ExpirationDate":"10\/10\/2014 2:42:32 PM CST","Token":"177880902229"}'
  recorded_at: Fri, 10 Oct 2014 18:42:39 GMT
recorded_with: VCR 2.9.2
