---
http_interactions:
- request:
    method: post
    uri: https://sandbox.apps.whcc.com/api/callback/create?access_token=101024773634
    body:
      encoding: UTF-8
      string: callbackUri=http%3A%2F%2Fexample.com%2Fwebhook
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Token token="125853637777"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Created":"10\/27\/2014","Verifier":"A unique verification code posted
        to your callback URI. To complete the verification send it back to us by calling
        the callback\/verify API method."}'
  recorded_at: Mon, 27 Oct 2014 15:35:33 GMT
- request:
    method: post
    uri: https://sandbox.apps.whcc.com/api/callback/verify
    body:
      encoding: US-ASCII
      string: access_token=532742632759&verifier=3f8afc02-cd26-423d-a2d0-d6b9d6c1f1bf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <CallbackVerifyStatus xmlns="http://apps.whcc.com/api/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Status>Verified</Status><Updated>10/27/2014
        10:38:04 AM</Updated></CallbackVerifyStatus>
  recorded_at: Mon, 27 Oct 2014 15:38:10 GMT
recorded_with: VCR 2.9.2
